<article class="content">
    <form class="custom-form center">
         <div class="row ">
               <div class="col-md-10 col-12">
                   <input type="text" class="form-control" placeholder="Numéro" />
               </div>
                <div class="col-md-2 col-12">
                    <select class="custom-select mr-sm-2 blue" id="inlineFormCustomSelect">
                        <option selected="">Distance</option>
                        <option value="1">5km</option>
                        <option value="2">10km</option>
                        <option value="3">15km</option>
                    </select>
                </div>
            </div>
            <div class="row criteria">
                <div class="col-12">
                    <button class="chevron">Plus des critères</button>
                </div>
            </div>
            <div class="row bg-lightgrey criteria-toggle hidden "> 
                <div class="col-12 col-md-6">
                    <div class="custom-checkbox">
                        <div class="custom-list-checkbox-select blue ">
                            <p>Contrat</p>
                        </div>
                        <ul class="custom-list-checkbox blue hidden" id="">
                            <li class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="for1">
                                <label class="custom-control-label" for="for1">contrat 1</label>
                            </li>
                             <li class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="for2">
                                <label class="custom-control-label" for="for2">contrat 1</label>
                            </li>
                             <li class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="for3">
                                <label class="custom-control-label" for="for3">contrat 1</label>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                <div class="col-12 col-md-6">
                    <div class="custom-checkbox">
                        <div class="custom-list-checkbox-select strawberry ">
                            <p>Contrat</p>
                        </div>
                        <ul class="custom-list-checkbox strawberry hidden" id="">
                            <li class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="for4">
                                <label class="custom-control-label" for="for4">contrat 1</label>
                            </li>
                             <li class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="for5">
                                <label class="custom-control-label" for="for5">contrat 1</label>
                            </li>
                             <li class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="for6">
                                <label class="custom-control-label" for="for6">contrat 1</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> 

            <div class="row">
                <div class="col-12 col-sm-offset-3 col-sm-3">
                    <button type="reset" class="btn btn-primary button-full grey">Réinitialiser</button>
                </div>
                <div class="col-12 col-sm-3">
                    <button type="submit" class="btn btn-primary button-full blue">Rechercher</button>
                </div>

            </div>
            

         </div>
    </form>
</article>