<article class="content ">
    <h1>Se connecter</h1>
    <form class="custom-form  ">
         <div class="row ">
              <div class="col-sm-6 center">
                <input type="text" class="form-control" placeholder="Emain" />
                <input type="text" class="form-control" placeholder="Mot de passe" />
                <button type="submit" class="btn btn-primary button-full blue">Se connecter</button>
                <a href="" class="form-link">Mot de passe perdu ?</a>
            </div>
         </div>
    </form>
</article>
