<table class="table">
    <thead class="head">
        <tr>
            <td>Nom des documents</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        <tr class="action">
            <td class="date">10/12/2018 <span class="hour">15:00</span></td>
            <td class="actions"><a href="" ><span class="icon-small icon-telecharger"></span>Télécharger</a></td>
        </tr>
        <tr class="action">
            <td class="date">10/12/2018 <span class="hour">15:00</span></td>
            <td class="actions"><a href="" ><span class="icon-small icon-telecharger"></span>Télécharger</a></td>
        </tr>
        <tr class="action">
            <td class="date">10/12/2018 <span class="hour">15:00</span></td>
            <td class="actions"><a href="" ><span class="icon-small icon-telecharger"></span>Télécharger</a></td>
        </tr>
    </tbody>


</table>
