<section class="adress border-bottom margin-bottom-30">
    <div class="row no-gutters">
    <div class="col-6 col-md-4">
        <h2 class="h2-titles"><span class="icon"></span>Contrat lié</h2>
        <button class="button-full strawberry">Voir le contact</button>
    </div>
    <div class="col-12 col-sm-6 col-md-8 adress-border-left">
        <h2 class="h2-titles"><span class="icon icon-contact-bk "></span>Contact</h2>
        <div class="row">
            <div class="col">
                <p><span class="bold">Raison Sociale :</span>Jean Bon & CO</p>
                <p><span class="bold">Ville :</span>Paris</p>
                
            </div>
            <div class="col">
                <p><span class="bold">Code postal :</span>75001</p>
                <p><span class="bold">Segment d'activité :</span>Transport</p>
            </div>
        </div>

    </div>
    </div>
</section>