<footer class="main-footer">
  <!-- Contenu du footer -->
  <div class="container">
    <div class="main-footer__links">
      <a class="main-footer__link" href="#">A propos</a>
      <a class="main-footer__link" href="#">Mentions légales</a>
      <a class="main-footer__link" href="#">Crédits</a>
      <a class="main-footer__link" href="#">Contact</a>
    </div>
    <div class="main-footer__copyright">
      Poésie Française © 1996 - 2017. Ce site vous est offert par la société <a href="http://www.webnet.fr/" target="_blank">Webnet</a>. Tous droits réservés.
    </div>
  </div>
</footer>
