<header class="main-header">
   <div class="sub-content">
      <div class="row">
        <div class="col-4 ">
          <img class="logo" src="images/socotec-logo.png" alt="socotec">
        </div>

        <div class="col-offset-4 col login">
          <p class="bold">Bonjour Pierre Dante</p>
          <p>N° :<span>XXX XXX XXX</span></p>
          <div class="icon arrow"></div>
        </div>
      </div>
  </div> 
</header>
