<div class="module flexbox-model-block map-module" data-lat="{{lat}}"  data-lng="{{lng}}">
    <div class="data">
        <p class="blue title">Raison sociale</p>
        <address>Cp Ville</address>
        <p>Segment d'activité</p>
    </div>
    <div class="block-buttons">
        <a href="" class="col btn-primary button-full blue">Voir la fiche</a>
        <a href="" class="col btn-primary button-full green">Reserver</a>
    </div>

</div>