<article class="content">
    <form class="custom-form center">
        <div class="row ">
            <div class="col-md-3 col-3">
                <input type="text" class="form-control" placeholder="Du :" />
            </div>
            <div class="col-md-3 col-3">
                <input type="text" class="form-control" placeholder="Au :" />
            </div>
            <div class="col-md-3 col-3">
                <select class="custom-select blue">
                    <option selected="">Contrat</option>
                    <option value="1">Contrat 1</option>
                    <option value="2">Contrat 2</option>
                    <option value="3">Contrat 3</option>
                    <option value="4">Contrat 4</option>
                </select>
            </div>
            <div class="col-md-3 col-3">
                <select class="custom-select blue">
                    <option selected="">Commercial</option>
                    <option value="1">Commercial 1</option>
                    <option value="2">Commercial 2</option>
                    <option value="3">Commercial 3</option>
                    <option value="4">Commercial 4</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="offset-5 col-2">
                <button type="submit" class="btn btn-primary button-full blue">Filtrer</button>
            </div>
        </div>
    </form>
</article>