<div class="charts">
    <div class="row">
        <div class="col-3">
            <div class="box turquois">
                rdv <span>3</span>
            </div>
        </div>
        <div class="col-9">
            <canvas class="chart" id="chart1">
                Chart here
            </canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="box orange">
                ca devis <span>1000 &euro;</span>
            </div>
        </div>
        <div class="col-9">
            <div class="chart">
                Chart here
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="box strawberry">
                ca commande <span>1000 &euro;</span>
            </div>
        </div>
        <div class="col-9">
            <div class="chart">
                Chart here
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="box blue-dark">
                taux reussite <span>59 %</span>
            </div>
        </div>
        <div class="col-6">
            <div class="box green">
                revenus total <span>100 &euro;</span>
            </div>
        </div>
    </div>
</div>