<!DOCTYPE html> {{> head}}

<body class="socotec">
  <section class="main-content">
      {{partial "logout-header" title="SOCOTEC" portail="true"}} 
  

    <main>
      <section class="sub-content">
          {{> form-login}}
    
      
      </section>
    </main>
  </section>
  {{!-- {{> main-footer}}  --}}
  {{> foot}}
</body>

</html>
