<!DOCTYPE html> {{> head}}

<body class="socotec prospects">
  <section class="main-content">

      {{partial "main-header" title="SOCOTEC" portail="true"}}

    <div class="blue-band">
      {{> main-menu}}
    </div>

    <main>
      <section class="sub-content">
          <h1>Mes prospects</h1>
      </section>
      <section class="full-content map-container">
        {{> maps-prospects}}
      </section>
    </main>
  </section>
  {{> foot}}
</body>
</html>