<!DOCTYPE html> {{> head}}

<body class="socotec">
  <section class="main-content">

    {{partial "main-header" title="SOCOTEC" portail="true"}}

    <div class="blue-band">
      {{> main-menu}}
    </div>

    <main>
      <section class="sub-content">
        <h1>Reporting</h1>
        {{> reporting-form-criteria}}
      </section>
      <section class="container">
        {{> reporting-charts}}
      </section>
    </main>
  </section>
  {{> foot}}
</body>
</html>